<div>
    <h1>{{language.name}}</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <td><b>Name:</b></td>
            <td>{{language.name}}</td>
        </tr>
        <tr ng-hide="language.aliases.length == '0'">
            <td><b>Aliases:</b></td>
            <td>
                {{language.aliases | join: ', '}}
            </td>
        </tr>
        <tr ng-show="language.url">
            <td><b>Homepage:</b></td>
            <td><a href="{{language.url}}">{{language.url}}</a></td>
        </tr>
        <tr>
            <td><b>Wikipedia (Source):</b></td>
            <td><a href="{{language.wiki}}">{{language.wiki}}</a></td>
        </tr>
        <tr>
            <td><b>License:</b></td>
            <td><a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike License</a></td>
        </tr>
    </table>
    <h2>Description</h2>
    <p ng-repeat="paragraph in language.description |limitTo: 1">
        {{paragraph}}
    </p>
</div>